@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.gradient-shift {
  background-size: 200% 100%;
}

.clamped-text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0b0f;
}

::-webkit-scrollbar-thumb {
  background: #1d1d1d;

  border-radius: 8px;
}
