@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.gradient-shift {
  background-size: 200% 100%;
}

.clamped-text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #202332;
}

::-webkit-scrollbar-thumb {
  background: #343951;
  border-radius: 8px;
}

.swiper-wrapper {
  touch-action: pan-y !important;
}
